# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
.cov
coverage.xml
/report/coverage

# mypy
/report/typing

# pytest
/report/unit

# setuptools
/build/**/*.*
/dist/**/*.*
/*.egg-info

# pyInstaller
!/dist/build.cmd
!/dist/requirements.txt
!/dist/Vivado.ico

# Dependencies
!requirements.txt

# Sphinx documentation
/doc/_build/
/doc/_theme/
/doc/pyEDAA.Launcher/**/*.*

# PyCharm project files
/.idea/workspace.xml

# Git files
!.git*
